In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/Users/JordanVani/Documents/NYU/ADS/Report/Vision_Zero/Merged.csv')
dropcols = ['NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
            'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
            'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED', 
            'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
            'Unnamed: 0']
data.drop(dropcols, axis=1, inplace=True)
data.head()

,PrecinctYear,Precinct,Year,Taxis,Flyers,Seniors,Outreach,HandsOn,Edu_Total,Backing Unsafely,...,U-Turn,Uninspected,Uninsured,Unlicensed Operator,Unregistered,P12,P123,Traf_Total,Neigh_Slow_Zone_Total,Speed_Bump_Total
0,342016,34.0,2016,0,0,1,5,0,6,0,...,0,0,0,0,0,0,0,0,0,0
1,682011,68.0,2011,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,682012,68.0,2012,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,682013,68.0,2013,0,0,0,0,0,0,9,...,42,7,588,592,100,886,3729,9341,0,0
4,682014,68.0,2014,0,0,4,4,0,8,9,...,24,4,594,507,138,1521,4045,9195,0,0

In [3]:
colls = pd.read_csv('/Users/JordanVani/Documents/NYU/ADS/Report/Vision_Zero/VisionZero_Collisions.csv')
colls.rename(columns={'ID': 'PrecinctYear'}, inplace=True)
print colls['NUMBER OF PERSONS KILLED'].sum()
colls.head()

658

,PrecinctYear,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED
0,12013,418,2,182,1,49,0,187,1
1,12014,386,0,138,0,71,0,177,0
2,12015,389,0,127,0,83,0,179,0
3,52013,424,0,133,0,64,0,227,0
4,52014,347,4,123,4,76,0,148,0

In [4]:
merge = pd.merge(data, colls, on='PrecinctYear')
merge.head()

,PrecinctYear,Precinct,Year,Taxis,Flyers,Seniors,Outreach,HandsOn,Edu_Total,Backing Unsafely,...,Neigh_Slow_Zone_Total,Speed_Bump_Total,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED
0,682013,68.0,2013,0,0,0,0,0,0,9,...,0,0,588,4,117,3,37,0,434,1
1,682014,68.0,2014,0,0,4,4,0,8,9,...,0,0,615,4,127,3,33,0,455,1
2,682015,68.0,2015,4,0,3,11,2,20,2,...,0,0,533,3,98,0,34,0,401,3
3,1022013,102.0,2013,0,0,0,0,0,0,19,...,0,2,788,6,139,5,63,0,586,1
4,1022014,102.0,2014,0,4,4,7,1,16,20,...,0,8,813,5,134,1,39,1,640,3

In [5]:
merge['NUMBER OF PERSONS KILLED'].sum()

658

In [6]:
merge.to_csv('/Users/JordanVani/Documents/NYU/ADS/Report/Vision_Zero/Merged_V2.csv')